@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Roboto:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  padding-left: 50px;
  padding-right: 50px;
  background-color: #3e3c3c;
}

.navbar-nav .nav-link {
  color: white;
}

.hd {
  height: 700px;
  background: #1c1a19;
  background-image: url(images/Illustration-header.png);
  background-repeat: no-repeat;
  background-position: 100%;
  background-size: 40%;
}

h1 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #f55800;
  width: 450px;
  height: 160px;
}

.sze {
  line-height: 32px;
  font-size: 20px;
}

.lin {
  width: 794px;
  border-width: 3px solid #ccc;
}

ul.d-flex.gap-3 li {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.class2 {
  height: 348px;
}

.mps h3 {
  color: #091e42;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.ads {
  color: #091e42;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  width: 448px;
}

.btn {
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

button.btn:hover {
  color: #f55800 !important;
  background: #fff5e1;
  border: 1px solid #f55800;
}

.cont-1 {
  margin-bottom: 100px;
}

.cd-gb {
  background-image: url(images/ph1.png);
  background-repeat: none;
  background-size: cover;
  height: 435px;
}

h5 {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  width: 337px;
}

.para {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
}

#cd-2 {
  background-image: url(images/ph.png);
  padding-top: 200px;
}

#cd-3 {
  background-image: url(images/ph3.png);
  padding-top: 245px;
}

#cd-4 {
  background-image: url(images/placeholder.png);
  padding-top: 200px;
}

.cont-22 {
  width: auto;
  height: 1195px;
  left: 0;
  top: 2680px;
  background: #262626;
  background-image: url(images/desktopframe.png);
  background-repeat: no-repeat;
  background-position: 100% 10%;
}

.abt-me {
  padding-top: 100px;
}

.about-me {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 82px;
  color: #f55800;
}

.about-me-p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  width: 566px;
  height: 148px;
}

.lin-2 {
  width: 1156px;
  border-width: 3px solid #ffff;
}

.butn {
  margin-bottom: 150px;
}
